.dropdownContainer {
  position: fixed;
  top: 2px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 1000;
}


.globeIcon {
  width: 1.8rem;
  height: 1.4rem;
  padding-right: 0.2rem;
  padding-left: 0.2rem;
}

