.NavigationItems {
  display: flex;
  justify-content: space-between;

  align-items: center;
  font-size: 1.2rem;

  padding: 0 30px;
  background-color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  width: 95%;
  height: 4rem;
  border-radius: 13px;
  position: fixed;
  top: 3rem;
  left: 2.5%;
  z-index: 500;
}

.logoText {
  color: #305473;
}

.navMenu,
.navMenuActive {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 0.5rem;
  list-style: none;
  align-items: center;
  text-align: center;
  justify-content: end;
}

.navLink {
  
  text-decoration: none;
  color: #305473;
  padding: 1rem 1rem;
  white-space: nowrap;
}

.navLinkIcon {
  
  padding-right: 0.2rem;
  padding-left: 0.2rem;
  width: 1.4rem;
  height: 1.2rem;
}

.navLink:hover {
  padding-bottom: 1.8rem;
  background: #7da63f;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

.menuBar {
  color: #305473;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.MenuSmallScreen {
  display: none;
}

@media screen and (max-width: 700px) {
  .MenuSmallScreen {
    z-index: 99;
  }

  .navMenu,
  .navMenuActive {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgba(224, 214, 224, 0.25);
    box-shadow: 0 8px 32px 0 rgba(173, 168, 173, 0.25);
    backdrop-filter: blur(4px);
    border-radius: 13px;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0px;
    align-items: stretch;
    padding: 4rem 0px 4rem 0;
    margin: 0;
    z-index: -1;
    transition: all 0.3s ease-in-out;
  }

  .navMenu {
    left: -110%;
  }

  .navMenuActive {
    left: 0%;
  }

  .navLink {
    display: block;
    width: 100%;
    padding: 2rem;
    color: #222;
  }

  .navLink:hover {
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(20px);
  }
  .MenuSmallScreen {
    display: block;
  }
}

@media screen and (max-width: 800px) {
  .MenuSmallScreen {
    z-index: 99;
  }

  .navMenu,
  .navMenuActive {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgba(224, 214, 224, 0.25);
    box-shadow: 0 8px 32px 0 rgba(173, 168, 173, 0.25);
    backdrop-filter: blur(4px);
    border-radius: 13px;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0px;
    align-items: stretch;
    padding: 4rem 0px 4rem 0;
    margin: 0;
    z-index: -1;
    transition: all 0.3s ease-in-out;
  }

  .navMenu {
    left: -110%;
  }

  .navMenuActive {
    left: 0%;
  }

  .navLink {
    display: block;
    width: 100%;
    padding: 1rem;
    color: #222;
  }

  .navLink:hover {
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(20px);
  }
  .MenuSmallScreen {
    display: block;
  }
}

@media (hover: none) and (pointer: coarse) {
  .navLink:hover {
    padding-bottom: initial;
    background: initial;
    border-radius: initial;
  }

  .navLink:active {
    padding-bottom: 1.8rem;
    background: #7da63f;
    border-radius: 4px;
    transition: all 0.2s ease-in-out; 
  }
}


