.contentContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  margin-top: 10rem;
}

.welcomeText,
.videoOverlayContainer {
  flex: 1;
}

.welcomeText h1 {
  font-size: 4rem;
}
.welcomeText h2 {
  font-size: 3.4rem;
}

.welcomeText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #305473;
  text-align: center;
}

.videoOverlayContainer {
  position: relative;
}

.videoContainer {
  display: flex;
  justify-content: center;
}

video {
  width: 1200px;
  max-width: 100%;
  max-height: 70vh;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.overlayContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #305473;
}

#linkToTable {
  background-color: #7da63f;
  border-color: #7da63f;
  color: #1d4014;
}

#linkToTable:hover {
  background-color: #1d4014;
  border-color: #1d4014;
  color: #7da63f;
}

@media (hover: none) and (pointer: coarse) {
  #linkToTable:hover {
    background-color: #7da63f;
    border-color: #7da63f;
    z-index: 1;
  }

  #linkToTable:active {
    background-color: #1d4014;
    border-color: #1d4014;
  }
}

@media (max-width: 400px) {
  .contentContainer {
    height: 65vh;
    flex-direction: column;
  }

  .welcomeText h1 {
    font-size: 2rem;
  }
  .welcomeText h2 {
    font-size: 1.6rem;
  }

  .overlayContent h3 {
    font-size: 0.8em;
  }



  video {
    width: 100%;
    height: auto;
    max-height: 30vh;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
  }
}

@media (min-width: 401px) and (max-width: 600px) {
  .contentContainer {
    height: 75vh;
    flex-direction: column;
  }

  .overlayContent h3 {
    font-size: 1rem;
  }



  video {
    width: 100%;
    height: auto;
    max-height: 30vh;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

@media (min-width: 601px) and (max-width: 800px) {
  .contentContainer {
    height: 50vh;
  }

  .welcomeText h1 {
    font-size: 1.5rem;
  }
  .welcomeText h2 {
    font-size: 1.2rem;
  }

  .overlayContent h3 {
    font-size: 0.9rem;
  }

  video {
    max-height: 40vh;
    padding-left: 0;
    padding-right: 0.1rem;
  }


}

@media (min-width: 801px) and (max-width: 1024px) and (max-height: 999px) {
  .contentContainer {
    height: 70vh;
    margin-top: 5rem;
  }

  .welcomeText h1 {
    font-size: 1.5rem;
  }
  .welcomeText h2 {
    font-size: 1.2rem;
  }

  .overlayContent h3 {
    font-size: 0.8rem;
  }

  video {
    max-height: 40vh;
    padding-left: 0;
    padding-right: 0.1rem;
  }


}

@media (min-width: 801px) and (max-width: 1025px) and (min-height: 1000px) and (max-height: 1500px) {
  .contentContainer {
    height: 90vh;
    margin-top: 5rem;
    flex-direction: column;
  }

  .welcomeText h1 {
    font-size: 3rem;
  }
  .welcomeText h2 {
    font-size: 2.8rem;
  }

  .overlayContent h3 {
    font-size: 2rem;
  }

  video {
    max-height: 40vh;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
