.legalContent {
  color: #305473;
  z-index: 10;
}

.btn.btn-secondary {
  background-color: #7da63f;
  border-color: #7da63f;
  color: #1d4014;
}

.btn.btn-secondary:hover {
  background-color: #1d4014;
  border-color: #1d4014;
  color: #7da63f;
}
