.footer {
  color: #305473;
  text-align: center;
  padding: 2px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  z-index: 1000;
 }

.footerContent {
  margin: 0 auto;
  padding: 5px;
}

.footer a {
  color: #305473;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
.footer{
  font-size: 0.8rem;
}

}

@media (min-width: 601px) and (max-width: 1024px) {
  .footer{
    font-size: 0.8rem;
  }
}
